
<h1>Welcom To Hot Pizza</h1>
<br>
<h2>Great Food for You !!</h2>
<br>

<div class="blurb">
	We offer delicious pizza.
	<br>
	Here we know there’s nothing quite like a fresh, hot and delicious pizza to satisfy your craving. When it’s shared with the important people in your life, that satisfaction grows. And if that pizza is also good for your community, well, then it’s just a complete feel-good package!
	<br>
	Please check our menu.
</div>

<br>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
